<a href="https://colab.research.google.com/github/drummond8scott/tokyo_dataset/blob/main/Tokyo_dataset_de.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import required packages for loading, transforming and exporting tokyo data
import openpyxl
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import (col, upper, trim, regexp_replace, when, count,
                                 initcap, concat_ws, split, to_timestamp, coalesce, isnan, when, length, trim,
                                 sum as spark_sum, countDistinct, desc, expr)
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [5]:
# Load Tokyo dataset excel files from github into dataframes
base_url = "https://raw.githubusercontent.com/drummond8scott/tokyo_dataset/main/"

# Load datasets
athletes_df = pd.read_excel(base_url + "Athletes.xlsx")
coaches_df = pd.read_excel(base_url + "Coaches.xlsx")
medals_df = pd.read_excel(base_url + "Medals.xlsx")
teams_df = pd.read_excel(base_url + "Teams.xlsx")

# Print counts for loaded datasets
print("Dataset Sizes:")
print(f"Athletes: {len(athletes_df)} records")
print(f"Coaches: {len(coaches_df)} records")
print(f"Medals: {len(medals_df)} records")
print(f"Teams: {len(teams_df)} records")

# Print first 3 rows of each dataset
print("\nFirst few rows of each dataset:")
for name, df in [("Athletes", athletes_df), ("Coaches", coaches_df),
                 ("Medals", medals_df), ("Teams", teams_df)]:
    print(f"\n{name} dataset:")
    print(df.head(3))

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Dataset Sizes:
Athletes: 11085 records
Coaches: 394 records
Medals: 93 records
Teams: 743 records

First few rows of each dataset:

Athletes dataset:
                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing

Coaches dataset:
              Name    NOC  Discipline Event
0  ABDELMAGID Wael  Egypt    Football   NaN
1        ABE Junya  Japan  Volleyball   NaN
2    ABE Katsuhiko  Japan  Basketball   NaN

Medals dataset:
   Rank                    Team/NOC  Gold  Silver  Bronze  Total  \
0     1    United States of America    39      41      33    113
1     2  People's Republic of China    38      32      18     88
2     3                       Japan    27      14      17     58

   Rank by Total
0              1
1              2
2              5

Teams dataset:
      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women

In [7]:
# Convert pandas dataframes to PySpark dataframes

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("Tokyo Olympics Analysis") \
    .getOrCreate()

athletes_df = spark.createDataFrame(athletes_df)
coaches_df = spark.createDataFrame(coaches_df)
medals_df = spark.createDataFrame(medals_df)
teams_df = spark.createDataFrame(teams_df)

In [8]:


# Athletes DataFrame Analysis
print("=== ATHLETES DATASET ANALYSIS ===")
total_athletes = athletes_df.count()
print(f"Total athletes: {total_athletes}")

# Check missing values in athletes
for column in athletes_df.columns:
    null_count = athletes_df.filter(col(column).isNull()).count()
    if null_count > 0:
        print(f"Missing values in {column}: {null_count} ({(null_count/total_athletes*100):.2f}%)")

# Check for duplicate athletes
duplicate_athletes = athletes_df.groupBy(athletes_df.columns).count().filter("count > 1")
if duplicate_athletes.count() > 0:
    print(f"\nFound {duplicate_athletes.count()} duplicate athlete entries")


# Check NOC distribution
noc_counts = athletes_df.groupBy("NOC").count().orderBy("count", ascending=False)
print("\nTop 5 NOCs by athlete count:")
noc_counts.show(5)

print("\n=== MEDALS DATASET ANALYSIS ===")
total_medal_records = medals_df.count()
print(f"Total medal records: {total_medal_records}")

# Check missing values in medals
for column in medals_df.columns:
    null_count = medals_df.filter(col(column).isNull()).count()
    if null_count > 0:
        print(f"Missing values in {column}: {null_count} ({(null_count/total_medal_records*100):.2f}%)")

# Check medal counts by type - Modified to handle separate medal columns
medal_distribution = medals_df.select(
    sum(col("Gold")).alias("Gold"),
    sum(col("Silver")).alias("Silver"),
    sum(col("Bronze")).alias("Bronze")
).withColumn("Total", col("Gold") + col("Silver") + col("Bronze"))

print("\nMedal distribution:")
medal_distribution.show()

# Cross-reference check between athletes and medals
athlete_countries = athletes_df.select("NOC").distinct().count()
medal_countries = medals_df.select("Team/NOC").distinct().count()
print(f"\nUnique countries in athletes: {athlete_countries}")
print(f"Unique countries in medals: {medal_countries}")

print("\n=== DATA CONSISTENCY CHECKS ===")
# Check for any NOCs in medals that don't appear in athletes
medals_nocs = set(medals_df.select("Team/NOC").distinct().collect())
athletes_nocs = set(athletes_df.select("NOC").distinct().collect())
mismatched_nocs = medals_nocs - athletes_nocs
if mismatched_nocs:
    print(f"NOCs in medals but not in athletes: {mismatched_nocs}")

# Check for unusual values in key fields
print("\nUnique disciplines:")
athletes_df.select("Discipline").distinct().show(truncate=False)

print("\nSample of unusual names (if any):")
athletes_df.filter(~col("Name").rlike("^[A-Za-z\\s\\-\\']+$")).show(5)

=== ATHLETES DATASET ANALYSIS ===
Total athletes: 11085

Found 1 duplicate athlete entries

Top 5 NOCs by athlete count:
+--------------------+-----+
|                 NOC|count|
+--------------------+-----+
|United States of ...|  615|
|               Japan|  586|
|           Australia|  470|
|People's Republic...|  401|
|             Germany|  400|
+--------------------+-----+
only showing top 5 rows


=== MEDALS DATASET ANALYSIS ===
Total medal records: 93

Medal distribution:
+----+------+------+-----+
|Gold|Silver|Bronze|Total|
+----+------+------+-----+
| 340|   338|   402| 1080|
+----+------+------+-----+


Unique countries in athletes: 206
Unique countries in medals: 93

=== DATA CONSISTENCY CHECKS ===

Unique disciplines:
+---------------------+
|Discipline           |
+---------------------+
|Tennis               |
|Boxing               |
|Marathon Swimming    |
|Golf                 |
|Rowing               |
|Baseball/Softball    |
|Judo                 |
|Sailing              |
|Swimming             |
|Cycling BMX Freestyle|
|Basketball           |
|Handball             |
|Rhythmic Gymnastics  |
|Karate               |
|Triathlon            |
|Badminton            |
|Canoe Sprint         |
|Athletics            |
|Cycling Track        |
|Beach Volleyball     |
+---------------------+
only showing top 20 rows


Sample of unusual names (if any):
+--------------------+--------------------+-------------+
|                Name|                 NOC|   Discipline|
+--------------------+--------------------+-------------+
|     B. Sai Praneeth|               India|    Badminton|
|CHADALAVADA ANAND...|               India|      Fencing|
|DENAYER Felix Ver...|             Belgium|       Hockey|
|              DENI .|           Indonesia|Weightlifting|
|EBADIPOUR GHARA H...|Islamic Republic ...|   Volleyball|
+--------------------+--------------------+-------------+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import *

# Get unique NOC and Team combinations from each dataset
print("=== NOC/Team Analysis ===\n")

# Athletes Dataset Analysis
athlete_teams = athletes_df.select("NOC").distinct()
print(f"Number of unique NOC-Team combinations in Athletes: {athlete_teams.count()}")

# Medals Dataset Analysis
medal_teams = medals_df.select("Team/NOC").distinct()
print(f"Number of unique NOC-Team combinations in Medals: {medal_teams.count()}")

# Coaches Dataset Analysis
coach_teams = coaches_df.select("NOC").distinct()
print(f"Number of unique NOC-Team combinations in Coaches: {coach_teams.count()}")

# Show discrepancies in Athletes dataset
print("\n=== Athletes Dataset: Cases where NOC doesn't match expected Team pattern ===")
athletes_df.select("NOC") \
    .distinct() \
    .orderBy("NOC") \
    .show(truncate=False)

# Compare NOCs across datasets
athlete_nocs = set([row.NOC for row in athletes_df.select("NOC").distinct().collect()])
medal_nocs = set([row["Team/NOC"] for row in medals_df.select("Team/NOC").distinct().collect()])
coach_nocs = set([row.NOC for row in coaches_df.select("NOC").distinct().collect()])

print("\n=== NOC Comparison Across Datasets ===")
print(f"Total unique NOCs in Athletes: {len(athlete_nocs)}")
print(f"Total unique NOCs in Medals: {len(medal_nocs)}")
print(f"Total unique NOCs in Coaches: {len(coach_nocs)}")

# Find NOCs that appear in one dataset but not others
print("\n=== NOC Discrepancies ===")
print("NOCs in Medals but not in Athletes:", medal_nocs - athlete_nocs if medal_nocs - athlete_nocs else "None")
print("NOCs in Athletes but not in Medals:", athlete_nocs - medal_nocs if athlete_nocs - medal_nocs else "None")
print("NOCs in Coaches but not in Athletes:", coach_nocs - athlete_nocs if coach_nocs - athlete_nocs else "None")
print("NOCs in Athletes but not in Coaches:", athlete_nocs - coach_nocs if athlete_nocs - coach_nocs else "None")

# Analyze Team naming patterns
print("\n=== Team Name Pattern Analysis ===")
print("Sample of Team names from Athletes dataset:")
athletes_df.select("NOC") \
    .distinct() \
    .orderBy(rand()) \
    .show(10, truncate=False)

print("\nSample of Team names from Medals dataset:")
medals_df.select("Team/NOC") \
    .distinct() \
    .orderBy(rand()) \
    .show(10, truncate=False)

print("\nSample of Team names from Coaches dataset:")
coaches_df.select("NOC") \
    .distinct() \
    .orderBy(rand()) \
    .show(10, truncate=False)

# Check for any unusual characters or patterns in NOC codes
print("\n=== Unusual NOC Patterns ===")
print("Athletes Dataset - NOCs not following standard 3-letter pattern:")
athletes_df.filter(~col("NOC").rlike("^[A-Z]{3}$")) \
    .select("NOC") \
    .distinct() \
    .show()

print("\nMedals Dataset - NOCs not following standard 3-letter pattern:")
medals_df.filter(~col("Team/NOC").rlike("^[A-Z]{3}$")) \
    .select("Team/NOC") \
    .distinct() \
    .show()

print("\nCoaches Dataset - NOCs not following standard 3-letter pattern:")
coaches_df.filter(~col("NOC").rlike("^[A-Z]{3}$")) \
    .select("NOC") \
    .distinct() \
    .show()

=== NOC/Team Analysis ===

Number of unique NOC-Team combinations in Athletes: 206
Number of unique NOC-Team combinations in Medals: 93
Number of unique NOC-Team combinations in Coaches: 61

=== Athletes Dataset: Cases where NOC doesn't match expected Team pattern ===
+-------------------+
|NOC                |
+-------------------+
|Afghanistan        |
|Albania            |
|Algeria            |
|American Samoa     |
|Andorra            |
|Angola             |
|Antigua and Barbuda|
|Argentina          |
|Armenia            |
|Aruba              |
|Australia          |
|Austria            |
|Azerbaijan         |
|Bahamas            |
|Bahrain            |
|Bangladesh         |
|Barbados           |
|Belarus            |
|Belgium            |
|Belize             |
+-------------------+
only showing top 20 rows


=== NOC Comparison Across Datasets ===
Total unique NOCs in Athletes: 206
Total unique NOCs in Medals: 93
Total unique NOCs in Coaches: 61

=== NOC Discrepancies ===
NOCs in Medals but not in Athletes: None
NOCs in Athletes but not in Medals: {'Costa Rica', 'Montenegro', 'Senegal', 'Belize', 'Tonga', 'Algeria', 'Brunei Darussalam', 'Afghanistan', 'Chile', 'American Samoa', 'Aruba', 'Liberia', 'Tajikistan', 'Virgin Islands, British', 'Iraq', 'Cape Verde', 'Singapore', 'Lesotho', 'Honduras', 'Djibouti', 'Sudan', 'Bangladesh', 'Rwanda', "Lao People's Democratic Republic", 'Guatemala', 'Myanmar', 'Suriname', 'Cameroon', 'Madagascar', 'Mozambique', 'Malawi', 'Luxembourg', 'Vietnam', 'Mauritania', 'Dominica', 'El Salvador', 'Eswatini', 'Guinea-Bissau', 'Barbados', 'Uruguay', 'Virgin Islands, US', 'South Sudan', 'St Vincent and the Grenadines', 'Guinea', 'Seychelles', 'Papua New Guinea', 'Nepal', 'Democratic Republic of Timor-Leste', 'Monaco', 'Oman', 'Democratic Republic of the Congo', 'Guyana', 'Gabon', 'Angola', 'Saint Lucia', 'Maldives', 'Yemen', 'Liechtenstein', 'Saint Kitts and Nevis', 'Guam', 'Samoa', 'Eritrea', 'Solomon Islands', 'Pakistan', 'Cook Islands', 'Nauru', 'United Arab Emirates', 'Benin', 'Panama', 'Lebanon', 'Sierra Leone', 'Haiti', 'Niger', 'Gambia', 'Cyprus', 'Burundi', 'Palau', 'Nicaragua', 'Albania', 'Togo', 'Trinidad and Tobago', 'Peru', 'Refugee Olympic Team', 'Palestine', 'Paraguay', 'Sri Lanka', 'Antigua and Barbuda', 'Kiribati', 'Equatorial Guinea', 'Bhutan', 'United Republic of Tanzania', 'Zimbabwe', 'Zambia', 'Mauritius', 'Sao Tome and Principe', 'Cayman Islands', 'Central African Republic', 'Libya', 'Congo', 'Bolivia', 'Andorra', 'Cambodia', 'Somalia', 'Iceland', 'Tuvalu', 'Bosnia and Herzegovina', 'Vanuatu', 'Marshall Islands', 'Comoros', 'Malta', 'Mali', 'Federated States of Micronesia', 'Chad'}
NOCs in Coaches but not in Athletes: None
NOCs in Athletes but not in Coaches: {'Latvia', 'Costa Rica', 'Senegal', 'Belize', 'Tonga', 'Algeria', 'Kyrgyzstan', 'Brunei Darussalam', 'Jordan', 'Bermuda', 'Indonesia', 'Afghanistan', 'American Samoa', 'Ethiopia', 'Aruba', 'Liberia', 'Kuwait', 'Morocco', 'Tajikistan', 'Virgin Islands, British', 'Iraq', 'Cape Verde', 'Singapore', 'Lesotho', 'Djibouti', 'Sudan', 'Bangladesh', 'Finland', 'Jamaica', 'Rwanda', "Lao People's Democratic Republic", 'Guatemala', 'Myanmar', 'Cuba', 'Bulgaria', 'Suriname', 'Philippines', 'Cameroon', 'Madagascar', 'Mozambique', 'Malawi', 'Luxembourg', 'Vietnam', 'Mauritania', 'Dominica', 'Estonia', 'El Salvador', 'Uzbekistan', 'Eswatini', 'Burkina Faso', 'Guinea-Bissau', 'Barbados', 'Uruguay', 'Virgin Islands, US', 'South Sudan', 'St Vincent and the Grenadines', 'Guinea', 'Seychelles', 'Papua New Guinea', 'Nepal', 'Democratic Republic of Timor-Leste', 'Monaco', 'Thailand', 'Oman', 'Democratic Republic of the Congo', 'Botswana', 'Guyana', 'Gabon', 'Saint Lucia', 'Maldives', 'Yemen', 'Guam', 'Saint Kitts and Nevis', 'Samoa', 'Eritrea', 'Solomon Islands', 'Malaysia', 'Pakistan', 'Cook Islands', 'Nauru', 'Kosovo', 'United Arab Emirates', 'Benin', 'Mongolia', 'Panama', 'Lebanon', 'Sierra Leone', 'Haiti', 'Ecuador', 'Niger', 'Switzerland', 'Gambia', 'Cyprus', 'Burundi', 'Palau', 'Nicaragua', 'Georgia', 'Albania', 'North Macedonia', 'Togo', 'Republic of Moldova', 'Trinidad and Tobago', 'Peru', 'Refugee Olympic Team', 'Palestine', 'Paraguay', 'Sri Lanka', 'Bahamas', 'Chinese Taipei', 'Ghana', 'Syrian Arab Republic', 'Antigua and Barbuda', 'Kiribati', 'Hong Kong, China', 'Equatorial Guinea', 'Bhutan', 'United Republic of Tanzania', 'Zimbabwe', 'Mauritius', 'Sao Tome and Principe', 'Cayman Islands', 'Central African Republic', 'Grenada', 'Libya', 'Congo', 'Bolivia', 'Andorra', 'Armenia', 'Somalia', 'Iceland', 'Tuvalu', 'Uganda', 'Azerbaijan', 'Bosnia and Herzegovina', 'Vanuatu', 'Marshall Islands', 'Comoros', 'Turkmenistan', 'Malta', 'Namibia', 'Qatar', 'Lithuania', 'Mali', 'Federated States of Micronesia', 'Chad'}

=== Team Name Pattern Analysis ===
Sample of Team names from Athletes dataset:
+--------------------+
|NOC                 |
+--------------------+
|Tonga               |
|Peru                |
|United Arab Emirates|
|New Zealand         |
|Germany             |
|El Salvador         |
|Côte d'Ivoire       |
|Hungary             |
|Mexico              |
|Dominican Republic  |
+--------------------+
only showing top 10 rows


Sample of Team names from Medals dataset:
+------------------------+
|Team/NOC                |
+------------------------+
|Austria                 |
|Tunisia                 |
|Egypt                   |
|Republic of Korea       |
|Brazil                  |
|Chinese Taipei          |
|Syrian Arab Republic    |
|Latvia                  |
|Mexico                  |
|United States of America|
+------------------------+
only showing top 10 rows


Sample of Team names from Coaches dataset:
+------------------------+
|NOC                     |
+------------------------+
|Denmark                 |
|United States of America|
|Greece                  |
|Romania                 |
|Serbia                  |
|France                  |
|Poland                  |
|Puerto Rico             |
|Germany                 |
|India                   |
+------------------------+
only showing top 10 rows


=== Unusual NOC Patterns ===
Athletes Dataset - NOCs not following standard 3-letter pattern:
+--------------------+
|                 NOC|
+--------------------+
|       Côte d'Ivoire|
|                Chad|
|            Paraguay|
|               Yemen|
|Islamic Republic ...|
|      Chinese Taipei|
|             Senegal|
|              Sweden|
|            Kiribati|
|   Republic of Korea|
|              Guyana|
|         Philippines|
|             Eritrea|
|            Djibouti|
|               Tonga|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|              Malawi|
+--------------------+
only showing top 20 rows


Medals Dataset - NOCs not following standard 3-letter pattern:
+--------------------+
|            Team/NOC|
+--------------------+
|Islamic Republic ...|
|      Chinese Taipei|
|              Sweden|
|   Republic of Korea|
|              Turkey|
|             Germany|
|              France|
|              Greece|
|              Kosovo|
|             Belgium|
|       Great Britain|
|             Ecuador|
|               Qatar|
|             Bahamas|
|             Belarus|
|             Croatia|
|               Italy|
|              Norway|
|               Spain|
|                Cuba|
+--------------------+
only showing top 20 rows


Coaches Dataset - NOCs not following standard 3-letter pattern:
+--------------------+
|                 NOC|
+--------------------+
|       Côte d'Ivoire|
|Islamic Republic ...|
|              Sweden|
|   Republic of Korea|
|                Fiji|
|              Turkey|
|             Germany|
|            Cambodia|
|              France|
|              Greece|
|           Argentina|
|             Belgium|
|              Angola|
|       Great Britain|
|          San Marino|
|               India|
|         Puerto Rico|
|               Chile|
|             Nigeria|
|               Italy|
+--------------------+
only showing top 20 rows

In [6]:
# Import required libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import (col, count, when, isnan, countDistinct,
                                 length, regexp_replace, trim, desc)
from pyspark.sql.types import *
from functools import reduce
def analyze_tokyo_data_quality(athletes_df, coaches_df, medals_df, teams_df):
    """
    Comprehensive data quality analysis using PySpark
    """

    def analyze_null_values(df, table_name):
        """Analyze null and empty values in each column"""
        print(f"\n=== Null Value Analysis for {table_name} ===")

        # Get total row count
        total_rows = df.count()

        # Calculate null counts and percentages for each column
        for column in df.columns:
            null_count = df.filter(
                col(column).isNull() |
                (col(column) == '') |
                isnan(column)
            ).count()

            null_percentage = (null_count / total_rows) * 100

            print(f"\nColumn: {column}")
            print(f"Null/Empty Count: {null_count}")
            print(f"Null/Empty Percentage: {null_percentage:.2f}%")

    def analyze_duplicates(df, table_name):
        """Analyze duplicate records"""
        print(f"\n=== Duplicate Analysis for {table_name} ===")

        # Count total and distinct rows
        total_rows = df.count()
        distinct_rows = df.distinct().count()
        duplicate_rows = total_rows - distinct_rows
        duplication_rate = duplicate_rows / total_rows * 100 if total_rows else 0.0

        print(f"Total Rows: {total_rows}")
        print(f"Unique Rows: {distinct_rows}")
        print(f"Duplicate Rows: {duplicate_rows}")
        print(f"Duplication Rate: {duplication_rate}%")

        # Show example duplicates
        if duplicate_rows > 0:
            print("\nSample Duplicate Records:")
            df.groupBy(df.columns) \
              .count() \
              .filter(col("count") > 1) \
              .orderBy(desc("count")) \
              .show(20, truncate=False)

    def analyze_data_patterns(df, table_name):
        """Analyze patterns in string columns"""
        print(f"\n=== Data Pattern Analysis for {table_name} ===")

        for column in df.columns:
            # Only analyze string columns
            if isinstance(df.schema[column].dataType, StringType):
                print(f"\nColumn: {column}")

                # Check for whitespace issues
                whitespace_count = df.filter(
                    (trim(col(column)) != col(column)) &
                    col(column).isNotNull()
                ).count()

                print(f"Records with leading/trailing whitespace: {whitespace_count}")

                # Length distribution
                print("\nLength Distribution:")
                df.groupBy(length(col(column)).alias("length")) \
                  .count() \
                  .orderBy("length") \
                  .show(5)

    def analyze_value_distributions(df, table_name):
        """Analyze value distributions in columns"""
        print(f"\n=== Value Distribution Analysis for {table_name} ===")

        for column in df.columns:
            print(f"\nTop values in {column}:")
            df.groupBy(column) \
              .count() \
              .orderBy(desc("count")) \
              .show(20, truncate=False)

    def analyze_referential_integrity():
        """Check referential integrity between tables"""
        print("\n=== Referential Integrity Analysis ===")

        # Athletes - Medals relationship
        orphaned_medals = medals_df \
            .join(athletes_df,
                  medals_df["Team/NOC"] == athletes_df.NOC,
                  "left_anti") \
            .count()

        print(f"\nMedals without matching Athletes: {orphaned_medals}")

        # Team consistency
        invalid_teams_athletes = athletes_df \
            .join(teams_df,
                  athletes_df.NOC == teams_df.NOC,
                  "left_anti") \
            .count()

        invalid_teams_coaches = coaches_df \
            .join(teams_df,
                  coaches_df.NOC == teams_df.NOC,
                  "left_anti") \
            .count()

        print(f"Athletes with invalid Teams: {invalid_teams_athletes}")
        print(f"Coaches with invalid Teams: {invalid_teams_coaches}")

    def analyze_data_completeness():
        """Analyze completeness of records"""
        print("\n=== Data Completeness Analysis ===")

        # Athletes completeness
        total_athletes = athletes_df.count()
        athletes_with_medals = medals_df.select("Team/NOC").distinct().count()
        athletes_with_coaches = athletes_df \
            .join(coaches_df,
                  ["NOC", "Discipline"],
                  "inner") \
            .select(athletes_df.Name).distinct().count()

        print("\nAthletes Data Completeness:")
        print(f"Total Athletes: {total_athletes}")
        print(f"Athletes with Medals: {athletes_with_medals}")
        print(f"Athletes with Coaches: {athletes_with_coaches}")

        # Calculate coverage percentages
        medal_coverage = (athletes_with_medals / total_athletes) * 100
        coach_coverage = (athletes_with_coaches / total_athletes) * 100

        print(f"Medal Coverage: {medal_coverage}%")
        print(f"Coach Coverage: {coach_coverage}%")

    def generate_summary_metrics():
        """Generate summary metrics for all tables"""
        print("\n=== Summary Quality Metrics ===")

        tables = {
            "Athletes": athletes_df,
            "Coaches": coaches_df,
            "Medals": medals_df,
            "Teams": teams_df
        }

        for table_name, df in tables.items():
            print(f"\n{table_name} Table Metrics:")
            total_rows = df.count()
            null_rows = df.filter(
                reduce(lambda x, y: x | y,
                      [col(c).isNull() for c in df.columns])
            ).count()
            duplicate_rows = total_rows - df.distinct().count()

            print(f"Total Records: {total_rows}")
            print(f"Complete Records: {total_rows - null_rows}")
            print(f"Records with Nulls: {null_rows} ({null_rows/total_rows * 100}%)")
            print(f"Duplicate Records: {duplicate_rows} ({duplicate_rows/total_rows * 100}%)")

    # Execute all analyses
    print("Starting comprehensive data quality analysis...\n")

    # Run individual analyses
    for df, name in [(athletes_df, "Athletes"),
                     (coaches_df, "Coaches"),
                     (medals_df, "Medals"),
                     (teams_df, "Teams")]:
        analyze_null_values(df, name)
        analyze_duplicates(df, name)
        analyze_data_patterns(df, name)
        analyze_value_distributions(df, name)

    # Run cross-table analyses
    analyze_referential_integrity()
    analyze_data_completeness()

    # Generate summary
    generate_summary_metrics()

# Example usage:
if __name__ == "__main__":
    # Initialize Spark Session if not already initialized
    spark = SparkSession.builder \
        .appName("Tokyo Olympics Data Quality Analysis") \
        .getOrCreate()

    # Assuming DataFrames are already loaded
    analyze_tokyo_data_quality(athletes_df, coaches_df, medals_df, teams_df)

Starting comprehensive data quality analysis...


=== Null Value Analysis for Athletes ===

Column: Name
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: NOC
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Discipline
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

=== Duplicate Analysis for Athletes ===
Total Rows: 11085
Unique Rows: 11084
Duplicate Rows: 1
Duplication Rate: 0.009021199819576003%

Sample Duplicate Records:
+-----------+-------+----------+-----+
|Name       |NOC    |Discipline|count|
+-----------+-------+----------+-----+
|ALI Mohamed|Bahrain|Handball  |2    |
+-----------+-------+----------+-----+


=== Data Pattern Analysis for Athletes ===

Column: Name
Records with leading/trailing whitespace: 1

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     4|    4|
|     5|   13|
|     6|   24|
|     7|   58|
|     8|  117|
+------+-----+
only showing top 5 rows


Column: NOC
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|  318|
|     4|  155|
|     5| 1750|
|     6| 2147|
|     7| 1984|
+------+-----+
only showing top 5 rows


Column: Discipline
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     4|  488|
|     6| 1560|
|     7|  745|
|     8| 1995|
|     9| 2740|
+------+-----+
only showing top 5 rows


=== Value Distribution Analysis for Athletes ===

Top values in Name:
+---------------------+-----+
|Name                 |count|
+---------------------+-----+
|HAVIK Yoeri          |2    |
|SUN Jiajun           |2    |
|ALI Mohamed          |2    |
|GANNA Filippo        |2    |
|ALVAREZ Jorge        |2    |
|KIM Hyunsoo          |2    |
|HALL James           |2    |
|KOPECKY Lotte        |2    |
|DYGERT Chloe         |2    |
|KOVACS Zsofia        |2    |
|CHEN Yang            |2    |
|PEREZ Paola          |2    |
|WATANABE Yuta        |2    |
|van ROUWENDAAL Sharon|2    |
|PEREZ Maria          |2    |
|PORTELA Teresa       |2    |
|PALTRINIERI Gregorio |2    |
|WANG Yang            |2    |
|WELLBROCK Florian    |2    |
|MARTIN Daniel        |2    |
+---------------------+-----+
only showing top 20 rows


Top values in NOC:
+--------------------------+-----+
|NOC                       |count|
+--------------------------+-----+
|United States of America  |615  |
|Japan                     |586  |
|Australia                 |470  |
|People's Republic of China|401  |
|Germany                   |400  |
|France                    |377  |
|Canada                    |368  |
|Great Britain             |366  |
|Italy                     |356  |
|Spain                     |324  |
|ROC                       |318  |
|Brazil                    |291  |
|Netherlands               |274  |
|Republic of Korea         |223  |
|New Zealand               |202  |
|Poland                    |195  |
|Argentina                 |180  |
|South Africa              |171  |
|Mexico                    |155  |
|Hungary                   |155  |
+--------------------------+-----+
only showing top 20 rows


Top values in Discipline:
+-----------------+-----+
|Discipline       |count|
+-----------------+-----+
|Athletics        |2068 |
|Swimming         |743  |
|Football         |567  |
|Rowing           |496  |
|Hockey           |406  |
|Judo             |373  |
|Handball         |343  |
|Shooting         |342  |
|Sailing          |336  |
|Rugby Sevens     |283  |
|Basketball       |280  |
|Wrestling        |279  |
|Volleyball       |274  |
|Boxing           |270  |
|Water Polo       |269  |
|Fencing          |249  |
|Equestrian       |237  |
|Canoe Sprint     |236  |
|Baseball/Softball|220  |
|Cycling Track    |208  |
+-----------------+-----+
only showing top 20 rows


=== Null Value Analysis for Coaches ===

Column: Name
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: NOC
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Discipline
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Event
Null/Empty Count: 145
Null/Empty Percentage: 36.80%

=== Duplicate Analysis for Coaches ===
Total Rows: 394
Unique Rows: 393
Duplicate Rows: 1
Duplication Rate: 0.25380710659898476%

Sample Duplicate Records:
+----------------+------+-----------------+--------+-----+
|Name            |NOC   |Discipline       |Event   |count|
+----------------+------+-----------------+--------+-----+
|GUERRERO Rolando|Mexico|Baseball/Softball|Softball|2    |
+----------------+------+-----------------+--------+-----+


=== Data Pattern Analysis for Coaches ===

Column: Name
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     8|    3|
|     9|    7|
|    10|   19|
|    11|   47|
|    12|   42|
+------+-----+
only showing top 5 rows


Column: NOC
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|   12|
|     4|    2|
|     5|  105|
|     6|   67|
|     7|   45|
+------+-----+
only showing top 5 rows


Column: Discipline
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     6|   45|
|     8|   88|
|    10|  141|
|    12|   25|
|    17|   95|
+------+-----+


Column: Event
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|  239|
|     4|   41|
|     5|   88|
|     8|   26|
+------+-----+


=== Value Distribution Analysis for Coaches ===

Top values in Name:
+---------------------+-----+
|Name                 |count|
+---------------------+-----+
|GIALLOMBARDO Patrizia|2    |
|FUJIKI Mayuko        |2    |
|ELAFANDI Nour        |2    |
|FARINELLI Roberta    |2    |
|GUERRERO Rolando     |2    |
|CHEPAK Anastasiya    |2    |
|CHERNETSKA Natalia   |2    |
|SZAUDER Gabor        |2    |
|REQUENA PERICAS Judit|2    |
|MONTICO Loredana     |2    |
|WANG Jie             |2    |
|RETEGUI Carlos Jose  |2    |
|TARRES CAMPA Ana     |2    |
|BROWN Michael        |1    |
|KIRKPATRICK Andrew   |1    |
|EITOKU Atsushi       |1    |
|GINZBURG Ronen       |1    |
|BREIVIK Marit        |1    |
|GUSTAVSSON Tony      |1    |
|ALEKSEEV Alexey      |1    |
+---------------------+-----+
only showing top 20 rows


Top values in NOC:
+--------------------------+-----+
|NOC                       |count|
+--------------------------+-----+
|Japan                     |35   |
|Spain                     |28   |
|United States of America  |28   |
|Australia                 |22   |
|Canada                    |16   |
|Italy                     |14   |
|People's Republic of China|12   |
|Egypt                     |12   |
|South Africa              |12   |
|ROC                       |12   |
|Argentina                 |11   |
|France                    |10   |
|Venezuela                 |10   |
|Netherlands               |10   |
|Germany                   |9    |
|Nigeria                   |9    |
|Mexico                    |8    |
|New Zealand               |8    |
|Republic of Korea         |7    |
|Great Britain             |7    |
+--------------------------+-----+
only showing top 20 rows


Top values in Discipline:
+-----------------+-----+
|Discipline       |count|
+-----------------+-----+
|Basketball       |74   |
|Artistic Swimming|69   |
|Football         |59   |
|Volleyball       |45   |
|Hockey           |45   |
|Handball         |29   |
|Baseball/Softball|26   |
|Rugby Sevens     |25   |
|Water Polo       |22   |
+-----------------+-----+


Top values in Event:
+--------+-----+
|Event   |count|
+--------+-----+
|NaN     |145  |
|Men     |94   |
|Women   |88   |
|Duet    |27   |
|Softball|20   |
|Team    |14   |
|Baseball|6    |
+--------+-----+


=== Null Value Analysis for Medals ===

Column: Rank
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Team/NOC
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Gold
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Silver
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Bronze
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Total
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Rank by Total
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

=== Duplicate Analysis for Medals ===
Total Rows: 93
Unique Rows: 93
Duplicate Rows: 0
Duplication Rate: 0.0%

=== Data Pattern Analysis for Medals ===

Column: Team/NOC
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|    1|
|     4|    2|
|     5|    8|
|     6|   16|
|     7|   24|
+------+-----+
only showing top 5 rows


=== Value Distribution Analysis for Medals ===

Top values in Rank:
+----+-----+
|Rank|count|
+----+-----+
|86  |8    |
|77  |6    |
|59  |4    |
|63  |3    |
|74  |3    |
|39  |2    |
|36  |2    |
|42  |2    |
|46  |2    |
|50  |2    |
|72  |2    |
|56  |2    |
|26  |1    |
|29  |1    |
|19  |1    |
|22  |1    |
|7   |1    |
|34  |1    |
|32  |1    |
|31  |1    |
+----+-----+
only showing top 20 rows


Top values in Team/NOC:
+------------------------+-----+
|Team/NOC                |count|
+------------------------+-----+
|Islamic Republic of Iran|1    |
|Chinese Taipei          |1    |
|Sweden                  |1    |
|Republic of Korea       |1    |
|Turkey                  |1    |
|Germany                 |1    |
|France                  |1    |
|Greece                  |1    |
|Kosovo                  |1    |
|Belgium                 |1    |
|Great Britain           |1    |
|Ecuador                 |1    |
|Qatar                   |1    |
|Bahamas                 |1    |
|Belarus                 |1    |
|Croatia                 |1    |
|Italy                   |1    |
|Norway                  |1    |
|Spain                   |1    |
|Cuba                    |1    |
+------------------------+-----+
only showing top 20 rows


Top values in Gold:
+----+-----+
|Gold|count|
+----+-----+
|0   |28   |
|1   |22   |
|3   |11   |
|2   |11   |
|4   |5    |
|7   |4    |
|10  |4    |
|6   |2    |
|22  |1    |
|39  |1    |
|27  |1    |
|17  |1    |
|38  |1    |
|20  |1    |
+----+-----+


Top values in Silver:
+------+-----+
|Silver|count|
+------+-----+
|1     |26   |
|0     |24   |
|2     |10   |
|3     |7    |
|4     |7    |
|6     |5    |
|7     |2    |
|5     |2    |
|12    |2    |
|32    |1    |
|41    |1    |
|28    |1    |
|10    |1    |
|8     |1    |
|11    |1    |
|14    |1    |
|21    |1    |
+------+-----+


Top values in Bronze:
+------+-----+
|Bronze|count|
+------+-----+
|1     |24   |
|0     |17   |
|2     |15   |
|3     |6    |
|4     |6    |
|5     |4    |
|6     |3    |
|22    |2    |
|7     |2    |
|8     |2    |
|11    |2    |
|9     |1    |
|17    |1    |
|33    |1    |
|10    |1    |
|12    |1    |
|18    |1    |
|14    |1    |
|23    |1    |
|20    |1    |
+------+-----+
only showing top 20 rows


Top values in Total:
+-----+-----+
|Total|count|
+-----+-----+
|1    |17   |
|4    |13   |
|2    |11   |
|7    |6    |
|3    |6    |
|5    |5    |
|8    |4    |
|6    |3    |
|9    |3    |
|20   |3    |
|11   |2    |
|13   |2    |
|65   |1    |
|19   |1    |
|113  |1    |
|71   |1    |
|58   |1    |
|17   |1    |
|88   |1    |
|33   |1    |
+-----+-----+
only showing top 20 rows


Top values in Rank by Total:
+-------------+-----+
|Rank by Total|count|
+-------------+-----+
|77           |17   |
|47           |13   |
|66           |11   |
|33           |6    |
|60           |6    |
|42           |5    |
|29           |4    |
|26           |3    |
|39           |3    |
|13           |3    |
|23           |2    |
|20           |2    |
|19           |1    |
|22           |1    |
|7            |1    |
|25           |1    |
|6            |1    |
|9            |1    |
|17           |1    |
|5            |1    |
+-------------+-----+
only showing top 20 rows


=== Null Value Analysis for Teams ===

Column: Name
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Discipline
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: NOC
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

Column: Event
Null/Empty Count: 0
Null/Empty Percentage: 0.00%

=== Duplicate Analysis for Teams ===
Total Rows: 743
Unique Rows: 743
Duplicate Rows: 0
Duplication Rate: 0.0%

=== Data Pattern Analysis for Teams ===

Column: Name
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|   31|
|     4|    3|
|     5|  150|
|     6|  139|
|     7|  112|
+------+-----+
only showing top 5 rows


Column: Discipline
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     6|   24|
|     7|  105|
|     8|  165|
|     9|   97|
|    10|   70|
+------+-----+
only showing top 5 rows


Column: NOC
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|   34|
|     4|    5|
|     5|  132|
|     6|  153|
|     7|  120|
+------+-----+
only showing top 5 rows


Column: Event
Records with leading/trailing whitespace: 0

Length Distribution:
+------+-----+
|length|count|
+------+-----+
|     3|  120|
|     4|   32|
|     5|  114|
|     8|   12|
|    10|   69|
+------+-----+
only showing top 5 rows


=== Value Distribution Analysis for Teams ===

Top values in Name:
+-----------------+-----+
|Name             |count|
+-----------------+-----+
|Japan            |45   |
|United States    |43   |
|Italy            |34   |
|Germany          |32   |
|France           |32   |
|Australia        |32   |
|ROC              |31   |
|China            |30   |
|Great Britain    |28   |
|Canada           |27   |
|Netherlands      |24   |
|Brazil           |21   |
|Poland           |19   |
|Spain            |18   |
|Republic of Korea|17   |
|New Zealand      |13   |
|Hungary          |13   |
|South Africa     |12   |
|Egypt            |11   |
|Belgium          |10   |
+-----------------+-----+
only showing top 20 rows


Top values in Discipline:
+-------------------+-----+
|Discipline         |count|
+-------------------+-----+
|Swimming           |113  |
|Athletics          |79   |
|Cycling Track      |64   |
|Archery            |53   |
|Fencing            |52   |
|Beach Volleyball   |48   |
|Table Tennis       |48   |
|Artistic Swimming  |32   |
|Football           |28   |
|Basketball         |24   |
|Artistic Gymnastics|24   |
|Handball           |24   |
|Rugby Sevens       |24   |
|Volleyball         |24   |
|Hockey             |24   |
|Water Polo         |22   |
|Triathlon          |18   |
|3x3 Basketball     |16   |
|Rhythmic Gymnastics|14   |
|Baseball/Softball  |12   |
+-------------------+-----+


Top values in NOC:
+--------------------------+-----+
|NOC                       |count|
+--------------------------+-----+
|Japan                     |48   |
|United States of America  |47   |
|Italy                     |37   |
|Germany                   |36   |
|Australia                 |35   |
|ROC                       |34   |
|France                    |33   |
|People's Republic of China|33   |
|Canada                    |30   |
|Great Britain             |28   |
|Netherlands               |27   |
|Brazil                    |25   |
|Poland                    |21   |
|Spain                     |20   |
|Republic of Korea         |19   |
|Hungary                   |14   |
|New Zealand               |13   |
|Switzerland               |12   |
|Egypt                     |12   |
|South Africa              |12   |
+--------------------------+-----+
only showing top 20 rows


Top values in Event:
+--------------------------------+-----+
|Event                           |count|
+--------------------------------+-----+
|Men                             |120  |
|Women                           |114  |
|Men's Team                      |40   |
|Women's Team                    |40   |
|Mixed Team                      |29   |
|Duet                            |22   |
|Mixed Relay                     |18   |
|Women's 4 x 200m Freestyle Relay|17   |
|Women's Madison                 |16   |
|Men's 4 x 100m Relay            |16   |
|Women's 4 x 400m Relay          |16   |
|Men's Madison                   |16   |
|Women's 4 x 100m Relay          |16   |
|Men's 4 x 400m Relay            |16   |
|Women's 4 x 100m Medley Relay   |16   |
|Men's 4 x 200m Freestyle Relay  |16   |
|Women's 4 x 100m Freestyle Relay|16   |
|Mixed 4 x 100m Medley Relay     |16   |
|Men's 4 x 100m Freestyle Relay  |16   |
|Men's 4 x 100m Medley Relay     |16   |
+--------------------------------+-----+
only showing top 20 rows


=== Referential Integrity Analysis ===

Medals without matching Athletes: 0
Athletes with invalid Teams: 938
Coaches with invalid Teams: 3

=== Data Completeness Analysis ===

Athletes Data Completeness:
Total Athletes: 11085
Athletes with Medals: 93
Athletes with Coaches: 2736
Medal Coverage: 0.8389715832205683%
Coach Coverage: 24.682002706359945%

=== Summary Quality Metrics ===

Athletes Table Metrics:
Total Records: 11085
Complete Records: 11085
Records with Nulls: 0 (0.0%)
Duplicate Records: 1 (0.009021199819576003%)

Coaches Table Metrics:
Total Records: 394
Complete Records: 394
Records with Nulls: 0 (0.0%)
Duplicate Records: 1 (0.25380710659898476%)

Medals Table Metrics:
Total Records: 93
Complete Records: 93
Records with Nulls: 0 (0.0%)
Duplicate Records: 0 (0.0%)

Teams Table Metrics:
Total Records: 743
Complete Records: 743
Records with Nulls: 0 (0.0%)
Duplicate Records: 0 (0.0%)